<ul>
  <% if @dishes.apps != [] %>
    <li><h4>Appetizers<h4></li>
      <ul>
        <% @dishes.apps.each do |dish| %>
        <li><%= display_dish(dish) %>
          <% if dish.user == current_user %>
            <%= link_to "Remove Dish", [@party, dish], :method  => :delete %>
          <% end %>
        </li>
        <%end%>
      </ul>
  <% end %>
  <% if @dishes.entrees != [] %>
  <li><h4>Entrees<h4></li>
    <ul>
      <% @dishes.entrees.each do |dish| %>
      <li><%= display_dish(dish) %>
        <% if dish.user == current_user %>
          <%= link_to "Remove Dish", [@party, dish], :method  => :delete %>
        <% end %>
      </li>
      <%end%>
    </ul>
  <% end %>
  <% if @dishes.desserts != [] %>
  <li><h4>Desserts<h4></li>
    <ul>
      <% @dishes.desserts.each do |dish| %>
        <li><%= display_dish(dish) %>
          <% if dish.user == current_user %>
            <%= link_to "Remove Dish", [@party, dish], :method  => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
