<h1>Parties!</h1>
<%= @parties.all.each do |party| %>
  <h2><%= link_to party.name, party_path(party) %></h2>
  <ul>
    <li><%= link_to party.host.name, user_path(party.host) %></li>
    <li><%= party.address %></li>
    <li><%= party.display_time %></li>
  </ul>
<%end%>
