<h1><%= @party.name %></h1>
<% if @party.host == current_user %>
  <%= link_to "Edit this Party", edit_party_path(@party) %>
<%end%>
<h3><%= @party.address %></h3>
<h3><%= @party.display_time %></h3>

<h2>Host</h2>
<h3><%= link_to @host.name, user_path(@host) %></h3>

<h2>Attendees</h2>
<ul>
  <% @party.attendees.each do |attendee| %>
  <li><%= link_to attendee.name, user_path(attendee) %></li>
  <% end %>
</ul>
<h2>Dishes</h2>
<p><%= link_to "Add a New Dish", new_party_dish_path(@party) %></p>
<%= render :partial => "parties/dishes" %>
